.precio {
    font-size: 20px;
    font-weight: bold;
  }

  .btn-finalizar-compra {
    font-size: 1.2rem;
    border-radius: 0px;
    background-color: #fff;
    color: rgb(0, 0, 0);
  }

  .btn-agregar {
    font-family: Arial;
    font-size: 20px;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    text-decoration: none;
    border: none;
    display: inline-block;    
    background-color: #fff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    text-decoration: none;
  }
  
  .btn-agregar-carrito {
    font-family: Arial;
    font-size: 22px;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    text-decoration: none;
    border: none;
    display: inline-block;
    background-color: #fff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    text-decoration: none;
  }
  .btn-agregar-volver {
    font-family: Arial;
    font-size: 22px;
    margin-top: 10px;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    text-decoration: none;
    border: none;
    display: inline-block;
    background-color: #fff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    text-decoration: none;
  }
  .btn-agregar:hover {
    background: #2b2b2b;
  }

  .botones {
    margin-top: 15rem;
  }

  .btn-agregar-carrito:hover {
    background-color: #afafaf9d;
    color: #ffffff;
  }

  .btn-agregar-volver:hover {
    background-color: #afafaf9d;
    color: #ffffff;
  }

