.input-space, select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 40px;
    border: 1px #fff;
  }
  
  .btn-agregar {
    font-family: Arial;
    color: #000;
    font-size: 20px;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    text-decoration: none;
    background: #000;
    display: inline-block;
    background-color: #fff;
  }
  .btn-agregar:hover {
    background: #acacacc7;
    color: #fff;
  }
  
  .div-container {
    padding: 20px;
  }

  .form-container {
    justify-content: center;
  }

  .btn-div {
    margin-top: 20px;
  }

 .h2-form {
    margin-left: 170px;
    margin-right: 170px;
    color: #fff;
  }

  label {
    color: #fff;
  }

