.material-icons {
   font-size: 35px;
   color: rgb(242, 237, 237);
}
.cart-number{
   font-size: 25px;
   margin-top: 30px;
   margin-left: 10px;
   margin-right: 10px;
   color:rgb(0, 0, 0);
}

.cart-container{
   display: flex;
   text-decoration: none;
}

.cart {
   margin-right: 10px;
   margin-left: 10px;
   margin-top: 10px;
   width: 50px;
   height: auto;
}
