.section-container{
    display: inline-flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
  }


.card-container {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 4px 4px rgba(98, 98, 100, 0.3);
    text-align: center;
    margin: 20px;
    background-color: rgb(249, 240, 240);
  }

.card-img-top{
    max-width: 100%;
    border-radius: 25px 25px 0px 0px;
  }

.card-body{
    padding: 0px 15px 15px 15px;
  }

.card-title{
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 20px;
    color:rgb(21, 20, 20)
  }

.card-text{
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 13px;
  }

.btn-ver-producto {
    display: inline-block;
    font-size: 15px;
    padding: 6px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    text-decoration: none;
  }

.btn-ver-producto:hover {
  background-color: #afafaf9d;
  color: #000;
}

