.boton-carrito {
    color: #ffffff;
    font-size: 20px;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    text-decoration: none;
    border: none;
    background: #000000;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    text-decoration: none;
}

.nada-carrito {
    font-size: 30px;
}