.item-carrito {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px;
    margin: 30px;
    font-size: 15px;
    background-color: #afafaf9d;
    border: 1px solid #000000;
    border-radius: 10px;
}

.info-item {
    margin-top: 20px;
    margin-right: 50px;
    font-size: 20px;
}

.cantidad-precio {
    display: flex;
    justify-content: space-between;
}

.item-nombre {
    display: flex;
    justify-content: space-between;
    color: #000000;
}

.boton-eliminar {
    font-weight: bold;
    font-family: Arial;
    color: #000000;
    font-size: 30px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-left: 20px;
    text-shadow: 1px 2px 5px #000000;
    background: #ff0000;
    display: inline-block;
    background-color: #ff0000b6;
    border: none;
    border-radius: 100%;
    text-decoration: none;
}

.boton-eliminar:hover {
    background-color: #ff0000;
}

.subtot-eliminar {
    display: flex;
    justify-content: space-between;
}
