.footer {
    height: 50px;
    background-color: #afafaf9d;
    position: static;
    margin-top: 18rem;
  }
    
  .footer-container {
    display: flex;
    max-width: 1000px; 
    margin: 0 auto;
    justify-content: center;
    padding: auto;
  }

  .list {
    margin-top: -8px;
  }

