body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-image: url(https://res.cloudinary.com/duqi08ihm/image/upload/v1673933744/pexels-jd-danny-2385477_mcc5jx.jpg);
  background-size: 100%;
  background-size: cover;
}


.App {
  text-align: center;
}


section{
  margin: 0;
  text-align: center;
}

h2 {
  color: #fff;
}